
// 首頁
.page-home{
  .jumbotronSwiper{
    height: calc(50vh - 80px);
    @include media-breakpoint-up(sm){
      height: calc(80vh - 80px);
    }
    @include media-breakpoint-up(md){
      height: calc(50vh - 80px);
    }
    @include media-breakpoint-up(lg){
      height: calc(70vh - 80px);
    }
  }
}

// 食物類別頁面
.page-category,
.page-article,
.page-favorites,
.page-shop{
  .jumbotron{
    height: 160px;
    @include media-breakpoint-up(md){
      height: 220px;
    }
  }
}

// 外送結帳完成頁面
.page-checkout{
  .motor-icon{
    width: 240px;
    height: 240px;
  }
}

